body {
    background-color: gainsboro;
    display: flex;
    margin: 0;
}

#image {
    width: 40%;
    height: 100vh;
    background-color: black;
}

#credit {
    color: rgba(255, 255, 255, 0.556);
    position: absolute;
    bottom: 5%;
    left: 15%;
}

#container {
    width: 60%;
    display: flex;
    flex-direction: column;
}

#upperText {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

#upperContainer {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(1.25rem, 1.5rem, 1.75rem);
    font-weight: bold;
}

.text {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#middleContainer {
    height: 30%;
    background-color: whitesmoke;
}

#formContainer {
    margin-left: 20px;
    width: 80%;
    height: 72%;
}

#form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, auto);
}

label {
    font-size: 1.25rem;
    margin-top: 15px;
}

input {
    width: 50%;
    height: 100%;
}

#doThis {
    font-size: 1.5rem;
    font-weight: 600;
}

button {
    width: 200px;
    height: 50px;
    margin: 20px;
    font-size: 1.25rem;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: #E5E7EB;
    background-color: #596D48;
    color: white;
}

#login {
    margin-left: 20px;
    font-weight: 600;
    font-size: 1.25rem;
}

#bottomContainer {
    height: 40%;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.679);
    width: 40%;
    height: 20%;
    position: absolute;
    left: 0%;
    top: 30%;
    font-size: 4rem;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
}